{%extends 'asm/base.html'%}
{%load static%}
{%block content%}        
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">ADD ASSETS</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{%static 'js/javascript:void(0)'%}">Home</a></li>
                        <li class="breadcrumb-item active">ADD ASSETS</li>
                    </ol>
                </div>
                <div>
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
              
               
               
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
               
               
               
                <style>


                    .split {
                      height: 100%; 
                      width: 50%;
                      position: absolute;;
                      z-index: 1;
                      top: 0;
                      overflow-x: hidden;
                      padding-top: 30px;
                    }

                    .rounded-input {
                     padding:10px;
                     border-radius:10px;
                    }
                    
                    .left {
                    left: 0;
                    margin-left: 90px !important;
                    top:10px;
                 
                    }
                    
                    .right {
                      right: 0;
                      margin-left: 15px;
                      top:25px;
                    }
                    
                    .centered {
                      position:absolute;
                      top: 55%;
                      left: 60%;
                      transform: translate(-50%, -50%);
                      text-align: center;
                    }
                  
                   
                    
                    </style>

                    <br>
                    <br>
                    <br>

                        <div style="font-size: 
                        large;">
                   
                      
                        <form method= "POST">

                            {%csrf_token%}
                            <div class="split left">
                                <div class="centered">
                    <label for="asset id">Asset Name:</label><br>
                            {{form.AssetName}}
                
                    <label for="asset id">Serial Number:</label><br>
                            {{form.SerialNum}}
                    
                    <label for="asset id">Asset Number:</label><br>
                            {{form.AssetNum}}
                        
                    <label for="asset id">Description:</label><br>
                            {{form.Description}}
                          
                    <label for="asset id">District:</label><br>
                            {{form.RegionalOffice}}
                    

                      </div>
                    </div>
                    
                    <div class="split right">
                      <div class="centered">
        
                    <label for="asset id">Office:</label><br>
                            {{form.Office}}
                           
                    <label for="asset id">Issued To:</label><br>
                            {{form.IssuedTo}}

                    <label for="asset id">Date Purchased:</label><br>
                            {{form.DatePurch}}  
                            
                    <label for="asset id">Disposal Date:</label><br>
                            {{form.DisposalDate}}
                      
                    <label for="asset id">Status:</label><br>
                            {{form.Status}} 
                  
                            <br>
                            {{form.errors}}
                            <button type="submit"> Add Asset</button>
                         
                      
                    </div> 
                   
                    
                      {{form.errors}}
                      <button type="submit"> Add Asset</button>
                   
                    
                    </form> 
                 
                    </div>
                   
            </div>
            
                <br>
                <br>
                <br>
                <br>
            <p style="font-size: xx-large;"><strong>Click submit to pemanently add asset</strong></p>
  <style>
button {
      
display: inline-block;
padding: 0;
font-size: 24px;
cursor: pointer;
margin-top: 10px !important;
margin-bottom: 10px !important;
margin-left: 10%!important;
text-decoration: none;
outline: none;
color: #fff;
background-color:#13991e ;
border: none;
border-radius: 5px;
box-shadow: 0 9px #999;

}

button:hover {background-color: #317034}

button:active {
background-color: #317034;
box-shadow: 0 5px #666;
transform: translateY(4px);
}
      </style>




{%endblock%}  
